<div *ngIf="hero">
    <div class="heroe_detail">
        <h2 class="hero_big_name">{{hero.name | uppercase}} Details</h2>
        <!-- New Style -->
        <div class="control hero_id">
            <span>Id:</span> {{hero.id}} 
        </div>
        <!-- Label Name -->
        <div class="field has-addons">
        <div class="control name_input">
            <span class="button is-info">
              Name
            </span>
          </div>
        <div class="control">
            <input class="input name_input" [(ngModel)]="hero.name" placeholder="Name"/>
        </div>
        </div>
        <button (click)="goBack()"> Go Back </button>
    </div>
</div>